@{
    ViewData["Title"] = "Home Page";
    var Player1 = "Gracz 1";
    var Player2 = "Gracz 2";
    var Game = new Battleships.Models.Games.Game(1, Player1, Player2);
    Game.StartGame(); 

    var selectedShipType = "";
}

<style>
    .player-name {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
</style>

<div class="text-center">
    <div class="boards-container">
        <div class="player-name">@Player1</div>
        <table class="board">
            @for (int i = 0; i < Game.Board1.Size; i++)
            {
                <tr>
                    @for (int j = 0; j < Game.Board1.Size; j++)
                    {
                        var cell = Game.Board1.Grid[i][j];
                        var cellClass = cell.StateName.ToLower();
                        <td class="@cellClass"></td>
                    }
                </tr>
            }
        </table>
        <div class="player-name">@Player2</div>
        <table class="board">
            @for (int i = 0; i < Game.Board2.Size; i++)
            {
                <tr>
                    @for (int j = 0; j < Game.Board2.Size; j++)
                    {
                        var cell = Game.Board2.Grid[i][j];
                        var cellClass = cell.StateName.ToLower();
                        <td class="@cellClass"></td>
                    }
                </tr>
            }
        </table>
    </div>
    <br />
    <div class="ship-selection">
        <button onclick="selectShipType('One-Mast')">One-Mast</button>
        <button onclick="selectShipType('Two-Mast')">Two-Mast</button>
        <button onclick="selectShipType('Three-Mast')">Three-Mast</button>
        <button onclick="selectShipType('Four-Mast')">Four-Mast</button>
        <button onclick="createShip()">Create Ship</button>
    </div>
</div>

@section Scripts {
    <script>
        var selectedShipType = "";
        var currentTurn = "@Game.CurrentTurn.Name";

        console.log("Current turn: " + currentTurn);

        function selectShipType(shipType) {
            selectedShipType = shipType;
            console.log("Selected ship type: " + shipType);
            console.log("Current turn: " + currentTurn);
        }

        function createShip() {
            if (selectedShipType) {
                console.log("Creating ship of type: " + selectedShipType);
                console.log("Current turn: " + currentTurn);
                // Tu factory dac
                @{Game.SwitchTurn();};
                //Nie wiem czemu to nie zmienia tury 
                currentTurn = "@Game.CurrentTurn.Name";
                console.log("Turn switched. Current turn: " + currentTurn);
            } else {
                console.log("No ship type selected.");
            }
        }
    </script>
}
